<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>SwitcherGrid</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerText</key>
			<string>SwitcherGrid v1.0 by mikiyan1978</string>
			<key>footerText</key>
			<string>GridFooter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>GridEnabledLabel</string>
			<key>key</key>
			<string>GridEnabled</string>
			<key>defaults</key>
			<string>com.mikiyan1978.switchergrid</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.mikiyan1978.switchergrid/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>KillAllFooter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>KillAllEnabledLabel</string>
			<key>key</key>
			<string>KillAllSwipeEnabled</string>
			<key>defaults</key>
			<string>com.mikiyan1978.switchergrid</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.mikiyan1978.switchergrid/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RespringFooter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RespringLabel</string>
			<key>action</key>
			<string>sg_respringTapped</string>
		</dict>
	</array>
</dict>
</plist>
