<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>SwitcherGrid</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SwitcherGrid v1.0 by mikiyan1978</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>グリッド表示を有効化</string>
			<key>key</key>
			<string>GridEnabled</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.mikiyan1978.switchergrid/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>アプリスイッチャーをカルーセル(Appleデフォルト)ではなく、iPad風のグリッドで表示します。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>下スワイプで全kill</string>
			<key>key</key>
			<string>KillAllSwipeEnabled</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.mikiyan1978.switchergrid/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>アプリスイッチャーでカードを下にスワイプすると、表示中の全アプリを波状のアニメーションでkillします。</string>
		</dict>
	</array>
</dict>
</plist>
